<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestObject</title>
    <script type="text/javascript">
    var Cat=function(name){
        this.name=name;
        // this.say=function(){
        //     return 'Hello, '+name+'!';
        // }     
    }
    Cat.prototype.say=function(){

        return 'Hello, '+this.name+'!';

    }
    var kitty=new Cat('Kitty');
    var doraemon=new Cat('哆啦A梦');
    console.log(typeof(kitty.say));
    console.log(kitty.say === doraemon.say);
    console.log(kitty.say);
    if (kitty && kitty.name === 'Kitty' && kitty.say && typeof kitty.say === 'function' && kitty.say() === 'Hello, Kitty!' && kitty.say === doraemon.say) {
    console.log('测试通过!');
} else {
    console.log('测试失败!');
}
    </script>
</head>
<body>
    
</body>
</html>